.navbar{
    background-color: #393939 !important;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 8px 0px
}
.navbar .container{
    padding: 0 10px;
}
.navbar-brand img{
    width: 40px;
}
.nav-item img{
    width: 30px;
    border: 1px solid white;
}
.nav-item{
    margin: auto
}
.nav-item:hover{
    background-color: #404345;
    color: #cfd2d6
}