.profile-heading{
    margin-top: 30px;
}
.user-pic{
    width: 100%;
    border-radius: 100%;
    border: 1px solid #697075;
}
.username{
    margin: auto 0;
    font-size: 15px;
}
.user-stat div{
    margin-bottom: 10px;
    padding: 10px;
}
#save-span{
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    display: block;
    text-align: left;
    display: none;
}
.user-desc{
    margin: 0;
    margin-top: 10px;
    padding-top: 5px;
    text-align: left;
    border-top: 1px solid grey;
}